.custom-loading {
  width: 100%;
  text-align: center;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 50;
}
.custom-loading .lds-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.custom-loading .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 8px;
  border: 8px solid #ad8090;
  border-radius: 50%;
  animation: lds-ring 0.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ab7287 transparent transparent transparent;
}
.custom-loading .lds-ring div:nth-child(1) {
  animation-delay: -0.15s;
}
.custom-loading .lds-ring div:nth-child(2) {
  animation-delay: -0.1s;
}
.custom-loading .lds-ring div:nth-child(3) {
  animation-delay: -0.05s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}