.login-form {
  .error-msg {
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: 0;
    color: #000;
    font-size: 18px;
    p {
      width: 50%;
      height: 50px;
      background-color: #d11717ab;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      img {
        width: 172px;
      }
    }
  }
  .left {
    left: 0;
    background: url("../../images/HeroImage.svg") no-repeat 50% 50%;
    background-size: cover;
  }
  .right {
    right: 0;
    .centered {
      top: 100px;
      transform: translate(-50%, 0);
      text-align: center;
    }
  }
  .form {
    .form-header {
      padding: 38px 0 61px 0;
      h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 112px;
        letter-spacing: -1.5px;
        color: #000000;
      }
    }
    form {
      label {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 12px;
        gap: 10px;
        background: rgba(0, 0, 0, 0.09);
        border-radius: 4px 4px 0 0;
        width: 375px;
        height: 55px;
        box-sizing: border-box;
        .video-errors {
          display: flex;
          align-items: center;
          color: #ff0000;
          position: absolute;
          bottom: -25px;
          left: 12px;
          min-height: 25px;
        }
        .input-container {
          position: relative;
          width: 100%;
          div.eye {
            position: absolute;
            top: 0;
            right: 0;
            img {
              width: 22px;
            }
          }
        }
        p {
          font-size: 12px;
          line-height: 1;
          color: rgba(0, 0, 0, 0.6);
          letter-spacing: 0.15px;
        }
        &:first-child {
          margin-bottom: 50px;
        }
        input {
          width: 100%;
          border: none;
          background-color: transparent;
          outline: none;
          padding: 0;
          letter-spacing: 0.15px;
          color: rgba(0, 0, 0, 0.87);
        }
      }
      .btn {
        margin-top: 57px;
        background: #F50057;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        width: 100%;
        border: none;
        outline: none;
        height: 55px;
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        line-height: 26px;
      }
      button:disabled,
      button[disabled]{
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
      }
    }
  }
}